<?php

$date = date('Y');

$header = <<<EOF
Contao Package Indexer

@author     Yanick Witschi <yanick.witschi@terminal42.ch>
@author     Andreas Schempp <andreas.schempp@terminal42.ch>
@license    MIT
EOF;

$config = new Contao\PhpCsFixer\DefaultConfig($header);
$config
    ->getFinder()
    ->in(__DIR__.'/src')
;

return $config;
